/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
/* FONT */
header h1{
    text-align: center;
    font-size: 3em;
    padding-bottom: 25px;
}
main h2{
    font-size: 1.5em;
}
main p{
    font-size: 1em;
}

body{
    background: #ccc;
}

.container{
    width: 80%;
    padding: 25px;
    margin: 0 auto;
    text-align: justify;
    background: aliceblue;
}

main{
    column-width: 200px;
    column-gap: 40px;
    margin-top: 25px;
    column-rule: 5px dotted #ccc;
}

main h2, main p{
    margin: 25px 0 25px 0;
}